/* App.css */
.todo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-form {
  display: flex;
  flex-direction: column;
}

.todo-input, .search-input {
  margin: 5px;
  padding: 5px;
  font-size: 16px;
}

.todo-button {
  margin: 5px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  
}

.todo-list {
  margin: 20px;
  width: 300px;
  
}

.todo-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 15px;
  border: 1px solid #ddd;
  margin: 5px;
  overflow: scroll;
}
.todo-item::-webkit-scrollbar{
  display: none;
}

.todo-text, .todo-description, .todo-date {
  flex: 1;
}
